@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.76);
}

.curso-completo {
    color: white
}

h1 {
    color: white;
    font-weight: bolder;
}